
footer{
    margin-top: 3.125rem;
    width: 100%;
    padding: 1.875rem 3%;   
    color:#fff;
    background: #1188EE;
    display: flex;
    justify-content: space-between;

}
footer > img{
    color: #fff;

}