
/*barra de aviso menu*/
header .infheader:hover{
    background: #ce0e18;
    transition: 0.5s ease-in; 
    
}
/* botão aulas*/

.centralcard button:hover{
    background: #eb0a0a;
    transition: 0.5s ease-in;
}

.contato button:hover{
  background: #eb0a0a;
  transition: 0.5s ease-in;
}

/**menu*/

nav > ul > li > a:hover{
    color: rgb(65, 215, 253);
}

nav > ul > li > .a::after{
  content: "";
  width: 100%;
  max-width: 3.25rem;
  height: 2px;
  background-color: rgb(9, 198, 255);
  position: absolute;
  left: 66.5%;
  top:4.6875rem;
  transform: scaleX(0);
  transition: transform 0.4s;
  /*progres animation
  width:0;
  transition:width 0.2s;
  */
}
nav > ul > li > .b::after{
    content: "";
    width: 100%;
    max-width: 3.75rem;
    height: 2px;
    background-color: rgb(9, 198, 255);
    position: absolute;
    left: 72.5%;
    top: 4.6875rem;
    transform: scaleX(0);
    transition: transform 0.4s;
    /*progres animation
    width:0;
    transition:width 0.2s;
    */
  }

  nav > ul > li > .c::after{
    content: "";
    width: 100%;
    max-width:4.6875rem ;
    height: 2px;
    background-color: rgb(9, 198, 255);
    position: absolute;
    left: 79.5%;
    top: 4.6875rem;
    transform: scaleX(0);
    transition: transform 0.4s;
    /*progres animation
    width:0;
    transition:width 0.2s;
    */
  }

  
nav > ul > li > a:hover::after{
  transform: scaleX(1);
}
/*progres animation
width:100%
 */