.barmenu{
    margin: 0 auto;
    width: 100%;
    height: 3.75rem;
    background: #17222D;

    margin: 0 auto;
    
}

.barmenu .logo img {
   
    position: relative;
    width: 9.437rem;
    height: 37.25px;
    left: 5rem;
    top: 10px;
    color:white;
}

header .menu {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: relative;
    top: -1.25rem;
}
header .menu > ul {
    
    display: flex;
    justify-content: flex-start;
     margin-right: 1.875rem;
       
   
}
 .menu > ul > li{

    margin: 0 20px;
    list-style-type: circle;
    color: white;
    
}
 .menu > ul > li > a{
    font-size: 1.125rem;
    color: whitesmoke;
   text-decoration: none;
   font-family: 'Poppins', sans-serif;

}
header .menu ul li:nth-child(1){
    list-style-type: none;
    
}

.menu > ul > li > a:hover{
    color: rgb(65, 215, 253);
}

