.contato{
   
    display: flex;
    flex-wrap: wrap;
    width:100%;
    margin-top: 1.25rem;
    height:550px;
    min-width: 34.375rem;
}


section  h1 { 
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 1.875rem;
    color:black;
}

.contatobox1{

    width:50%;
    height:100%;
    max-width: 43.75rem;
    margin: 0 auto;
    

}
.contatobox2{

    width:50%;
    height:100%;
    max-width: 62.5rem;
   
}


.contatobox1 > form {

    margin: 0 auto;
    width: 31.25rem;
    height:31.25rem;
  
}
.contatobox1 > form > input{

    width: 29.375rem;
    height: 3.125rem;
    padding-left: 5px;
    font-size: 15px;
  
    background: #e7ecf0;;
    box-shadow: 0px 2px 2px rgba(187, 204, 221, 0.4);
    border-radius: 5px;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: black;


}

.contatobox1 p {
    margin-top: 15px;
    font-family: 'Poppins', sans-serif;


}


textarea{
    width: 29.375rem;
    height: 11.25rem;
    background: #e7ecf0;
    box-shadow: 0px 2px 2px rgba(205, 217, 230, 0.4);
    border-radius: 5px;
    font-size: 15px;
    padding-left: 15px;
    padding-top: 1.5625rem;
    resize: none;
    border: none;
    font-family: 'Poppins', sans-serif;

}




.contatobox2{

    display: flex;
    flex-direction: row;  
    margin-top: 10px; 
    width: 50%;
    height: auto;
   

}
.cardendereço{
    display: flex;
    justify-content:flex-start;
    flex-direction: column;  
   
}



.contatobox2  ul p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 31.25rem;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    color: #445566;
    

}


.info1,.info2,.info3{
  
    text-align: left;
    width: 18.75em;;
    height: 8.125rem;
    margin: 3.125rem;
}

 
.contatobox2 .info1,.info2,.info3, ul{

    margin-top:1.25rem;
}
.info1,.info2,.info3, ul li {
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    font-size: 1rem;
    margin: 0 10px;
    margin-top: 5px;
    

}

.imgback{
    
    background-image: url(/image/bg-icones.jpg);
    width: 100%;
    max-width: 13.78rem;
    height: 28.125rem;
   
    margin-top:1.25rem;
   
}
