*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alice', serif;
    
}


:root{
    --My-width:84.375rem;

}


html,body{
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;

}

header,main,footer{
    width: 100%;
    max-width:var(--My-width);
    margin:0 auto;
    
}

strong{
    color: #1188EE;
}
p{

    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2.06rem;
}
h1{
    font-family: Alice;
    font-style: normal;
    font-weight: normal;
    font-size: 4.5rem;
    line-height: 4.625rem;
}
