
.containposition{
  
    position: fixed;
    z-index: 1000; 
    width: 100%;
    max-width: var(--My-width);
}
.barmenu{
    margin: 0 auto;
    width: 100%;
    max-width: var(--My-width);
    height: 60px;
    background: #17222D;
    display: flex;
    justify-content: space-between;
   
   

}
.barmenu .menubar{
    display: flex;
    justify-content: flex-start;
     margin-right: 30px;
     color:white;
}

.barmenu .logo img {
   
    width: 151.8px;
    height: 37.25px;
    margin: 6px 0 0 50px;
    color:white;
}

header nav {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
   
 
}
header nav > ul {
    
    display: flex;
    justify-content: flex-start;
     margin-right: 30px;
   
}
 nav > ul > li{

    margin: 0 20px;
    list-style-type: circle;
    color: white;
    
}
 nav > ul > li > a{
    font-size: 20px;
    color: whitesmoke;
   text-decoration: none;

}
header nav ul li:nth-child(1){
    list-style-type: none;
    
}

#btn-mobile{
    display: none;
    
  
}









