
@media screen and (max-width:1356px){
    nav > ul > li ::after{
        display: none;
    }
    
.containposition{
  
    position: fixed;
    z-index: 1000; 
    width: 96.5%;
    max-width: var(--My-width);
}

}

@media screen and (max-width:1100px){
   
    .boxcentral{
      
        height:auto;
      
    }

    .box2{
   
        width:50%;    
        height: 100%;
        display: flex;
        flex-direction:column;
        align-items: center;
        padding-top: 30px;
        
    }
    .box1{
        width:50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    .imgbox1{
        text-align: center;
        max-width: 600px;
        height: 800px;
        background-repeat: no-repeat;
        margin-left: 10px;
        
    
    }
    .imgbox1 > .imgmap   {
        display: none;
    }
    
    .boxcentral{
    
        height:auto;
       
      
    }

    
    .chamadabox2 > h1{
   
        width:100%;
        font-size: 60px;
        max-width: 300px;
        height: auto;
        font-family: 'Poppins', sans-serif;
       margin-bottom: 5px;
    
    }
    .alinhaicons{
   
        display: flex;
        height: auto;
        width: 60%;
        justify-content: space-between;
        flex-direction: column;
        height:auto;
        padding-left:0;
        

    }

    .box2text{
        width:95%;
        max-width:400px;
        height: 40%;
        margin-top: 40px;
        text-align: justify;
       
    
    }
    .box2text p{
       
        font-size: 14px;
        margin-bottom: 10px;
    }
    .listabox1{
        display:flex;
        justify-content: left;
        margin-top: 0;
        margin-right: 0;
    
    }


    .imgback{
        display: none;
       
    }

    .aulas {
        width: 100%;
        height:auto;
        
    }
    .centralcard{
        
        max-width: 1000px;
        display:flex;
        flex-direction: column;
        align-items: center;
        
    }
    .card1,.card2,.card3{
        margin-bottom: 20px;
     
    }
    .propaganda{
        width: 100%;
        max-width: 550px;
        height: 90px;
     
    }

    .contato{
   
        display: flex;
        flex-wrap: wrap;
        width:100%;
        flex-direction: column;
        margin-top: 20px;
        height:500px;
        min-width: 900px;
        align-items: center;
        height: auto;
    }
    
    .contatobox1{

        width:100%;
        height:auto;
        margin: 0 auto;
    
    }
    .contatobox2{

        width:100%;
        height:auto;
        justify-content:center;
        display: flex;
        flex-direction: row;
        align-items: center;
       
    }


}


@media (max-width:900px){

   

    header .banner .imgbanner{

        background-repeat:no-repeat;
        background-size: 100% 100%;
        object-fit:contain;
        background-attachment: none;
     
    }

    .banner .imgbanner .chamada{   
   
        display: flex;
        justify-content: center;
        flex-direction:column;
        
    }

    .conteudo{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width:100%;
        
    }
    .boxcentral{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        width:100%;
        height:auto;
        
    }
    .box1{
        width:100%;
        height: auto;
    
    }
    .box2{
   
        width:100%;    
        height: auto;
        display: flex;
        flex-direction:column;
        align-items: center;   
        
    }




    
.chamadabox2 > h1{
   
   
    width:100%;
    max-width: 550px;
    font-size: 70px;
    height: 260px;
    font-family: 'Poppins', sans-serif;
   
   

}
    
    .alinhaicons{
   
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width:100%;
        max-width:400px;
        height:300px;
        padding-left: 50px;
    }
    .box2text{
        width:100%;
        max-width: 400px;
        height: auto;
        margin: 10px 0 50px 0;
       
        text-align: justify;
       
    
    }

    .contato{
   
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width:100%;
        margin-top: 20px;
        height:auto;
        min-width: 500px;
    }
    .contatobox1{

        width:100%;
        height:auto;
        max-width: 500px;
        margin: 0 auto;
    
    }
    .contatobox2{
    
        width:100%;
        height:auto;
        max-width: 500px;
        margin:0 auto;
      

}

.chamadabanner > h1 {
  

    max-width: 500px;
    height: auto;
   

}
}


@media screen and (max-width:740px){

  
    #nav ul {

        display: block;
        position: absolute;
        width: 90%;
        top: 70px;
        right: 0px;
        background: rgba(231, 231, 231,0.5);
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    
}

#btn-mobile{
    display: flex;
    padding: .5rem 1rem;
    font-size: 1rem;
    border: none;
    background:none;
    cursor: pointer;
    margin-right: 5px;
    gap:.5rem;
    margin-top: 10px;
    
}
#menuzinho{
    display: block;
    border-top: 2px solid;
    width:20px;
    color: #e7e7e7;
}
#menuzinho::after,#menuzinho::before{
    content:"";
    display:block;
    width:20px;
    height: 2px;
    background:currentColor;
    margin-top: 5px;
    transition: .3s;
    position:relative;
}

#nav.active #menuzinho{
    border-top-color: transparent;

}

#nav.active #menuzinho::before{

    transform:rotate(135deg);
}
#nav.active #menuzinho::after{
    transform:rotate(-135deg);
    top:-7px;
}






 nav.active #menu {
    visibility:visible;
    height: 30vh;
}
nav > ul > li > a:hover{
    color: red;
}
nav > ul > li > a{
    font-size: 25px;
    color: black;
    text-decoration: none;
 
 
}
nav > ul > li{
    list-style-type: none;
     padding: 5px 0 ;
    margin-top: 1px 0 ;   
    border-bottom: 2px solid rgba(95, 104, 104, 0.125);
}
nav > ul > li:hover{
    background-color: #CCC;
}

}

@media screen and (max-width:700px){


    .banner .imgbanner .chamada{   
   
    
        width: 100%;
        max-width: 500px;
        margin:250px auto 0 auto;
    }
    .banner .chamada input{
        width: 14.75rem;     
    }

    .chamada >.Email > button{
        background-color: red;
        width: 9.25rem;
        
    } 
    .modal{
       display:none;
    
    }
    .imgbox1{
   
    width: 100%;
    max-width: 450px;
    height: 500px;
    margin-left: none;
    

}
.chamadabanner > P{
    padding-top: 50px;
    font-size: 18px;
    color: aliceblue;
}
.chamadabanner > h1 {
  
    font-size: 50px;
    max-width: 500px;
    height: auto;
   
}
   
    .alinhaicons{
   
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width:100%;
        max-width:300px;
        height:300px;
        padding-left: 30px;
    }
    .propaganda{
    
        width: 100%;
        height: auto;
        text-align: center;
        margin-top: 5rem;
        margin-left: auto;
        margin-right: auto;   
        font-size: 15px;
    }

    .contato{
   
        width:100%;
        margin-top: 20px auto;
        height:auto;
        min-width: 500px;
    }
    .contatobox1{

        width:100%;
        height:auto;
        max-width: 480px;
        margin: 0 auto;
    
    }
    .contatobox2{
    
        width:100%;
        height:auto;
        max-width: 500px;
        margin:0 auto;
      

}




}




