.box1{
    width:50%;
    height: 100%;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.imgbox1{
    background-image: url(/image/prachassurf.jpg);
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 700px;
    margin-left: 50px;
  
    border-radius: 3%;
  

}
.imgbox1 > .imgmap img   {
   
    width:100%;
    max-width: 500px;
    height: 200px;
    position: relative;
    top:550px;
    left:7%;
    background-repeat: no-repeat;
    cursor: pointer;
    border-radius: 3%;
   

   
}

.listabox1{
    display:flex;
    justify-content: left;
    margin-top: 50px;
    margin-right: 20%;

}

.listabox1> ul > li > p{
    font-size: 18px;

}
.listabox1 > ul > li > h1{
    font-size: 23px;
    margin: none;
} 
span{
    color:#6e7573;
    font-size: 16px;
}
.listabox1  li p ::before{
        
        content: '';
        box-sizing: border-box;
        display: inline-block;
        width: 8px;
        height: 2px;
        border: 1px solid #FF3726;
        border-radius: 5%;
        margin-left:10px;
        margin-bottom: 5px;
    }
    
