.aulas {
    width: 100%;
    height: 56.25rem;
    background: #EFF4F9;
    margin: 0 auto;
}


.wave{
    background-image: url(/image/ondas.png);
    width: 12.5rem;
    height: 4.175rem;
    margin: 0 auto;
    position: relative;
    top:-1.875rem;
    
}
.aulas > h1{
    margin-top:1.25rem;
    color:#384149;
    text-align: center;
    font-family: Alice;
    font-style: normal;
    font-weight: normal;
    font-size: 4.5rem;
}

.centralcard{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    width: 100%;
    max-width: 75rem;
    text-align: center;
    
}


 .imgsurf{
    background-image: url(/image/surfbot-icon.png) ;
    width: 2rem;
    height: 3rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top:-1.2rem;
    background-repeat: no-repeat;
}
.card3{
    width: 100%;
    max-Width :22rem;
    Height:27.5rem;    
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(187, 204, 221, 0.4), 0px 10px 10px rgba(187, 204, 221, 0.4);
    border-radius: 8px;
 
}


.card1,.card2{
    width: 100%;
    max-Width :22rem;
    Height:27.5rem;    
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(187, 204, 221, 0.4), 0px 10px 10px rgba(187, 204, 221, 0.4);
    border-radius: 8px;
       

}

.surf1{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top:-2px;
    background-repeat: no-repeat;

}
.surf3,.surf2{

    display:flex;  
    position: relative;
    left: 45%;
    transform: translateX(-50%);
    top:-2px;
    background-repeat: no-repeat;
}

.card1 > h1,.card2 > h1 , .card3 > h1{

    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2rem;
    font-family: 'Poppins', sans-serif;
 
} 

.listacard{
    margin-top:1.20rem;
    margin-left: auto;
    margin-right: auto;
    justify-content:center;
    width:70%;
    text-align: center;
    height: 9.375rem;
    background-color: rgb(247, 255, 252);

  

}
.listacard  li::before{
    content: '';
    box-sizing: border-box;
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 2px solid #FF3726;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 1px;
}


.listacard > ul > li {
    list-style:none;
    font-style :normal;
    font-Size :14px;
    Line-height :1.875rem;
    list-style-position: inside;
    color:rgb(80, 92, 92);
    text-align: left;
    font-family: 'Poppins', sans-serif;
    width: 16.75rem;
}

.preco {

    margin-top: 15px;
    font-size: 20px;
    
}

.card1> button > a {
    text-decoration: none;
    font-size: 1.25rem;
    color:#FFFFFF;    
}
.card1> button{
    margin-top: 1.5625rem;
    padding: 10px 40px;  
    background: #4b7aa8;
    border-radius: 5px;
}

.card1>  button > img {

    margin-left: 10px;
}


.card2> button > a {
    text-decoration: none;
    font-size: 1.25rem;
    color:#FFFFFF;    
}
.card2> button{
    margin-top: 1.5625rem;
    padding: 10px 40px;  
    background: #4b7aa8;
    border-radius: 5px;
}

.card2>  button > img {

    margin-left: 10px;
}

.card3> button > a {
    text-decoration: none;
    font-size: 1.25rem;
    color:#FFFFFF;    
}
.card3> button{
    margin-top: 1.5625rem;
    padding: 10px 40px;  
    background: #4b7aa8;
    border-radius: 5px;
}

.card3>  button > img {

    margin-left: 10px;
}



.propaganda{
    
    width: 34.375rem;
    height: 3.6875rem;
 
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;   
    font-size: 15px;
}




